body {
	padding: 0;
	margin: 0;
	background: rgb(0, 0, 0);
	width: 100%;
	height: 100%;
	overscroll-behavior: contain;
	font-family: "futura", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#cv {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

#cv canvas {
	margin: auto;
	overflow: hidden;
	top: 0;
	left: 0;
	object-fit: contain;
	object-position: center;
	max-width: 100%;
	max-height: 100%;
}